* {
  font-family: 'Inter' !important; }

body {
  background-color: #ececec !important; }

@media screen and (min-width: 1700px) {
  .container {
    max-width: 1620px !important; } }
.mw-process-templates {
  margin-top: 55px; }
  .mw-process-templates .card {
    border-radius: 0 !important; }
  .mw-process-templates .mw-process-categories-wrapper {
    margin-bottom: 30px; }
    @media screen and (min-width: 1400px) {
      .mw-process-templates .mw-process-categories-wrapper .mw-process-categories-icons {
        width: 80px !important; } }
    .mw-process-templates .mw-process-categories-wrapper a {
      padding: 25px 0;
      display: flex;
      height: 60px;
      justify-content: center;
      align-items: center;
      text-transform: capitalize;
      border: 1px solid #c4c4c4;
      color: #5e5e5e;
      text-decoration: none;
      font-size: 16px; }
      @media screen and (max-width: 1400px) {
        .mw-process-templates .mw-process-categories-wrapper a {
          margin: 5px;
          padding: 0 12px;
          font-size: 14px;
          height: 50px; } }
      @media screen and (max-width: 900px) {
        .mw-process-templates .mw-process-categories-wrapper a {
          margin: 5px;
          padding: 0 10px !important;
          font-size: 14px;
          height: 45px; } }
      .mw-process-templates .mw-process-categories-wrapper a:hover, .mw-process-templates .mw-process-categories-wrapper a.active, .mw-process-templates .mw-process-categories-wrapper a:focus {
        text-decoration: none; }
  .mw-process-templates .background-image-holder {
    background-size: 100% auto;
    background-position: center 0;
    background-repeat: no-repeat;
    min-height: 450px;
    transition: 2.2s; }
  .mw-process-templates .mw-process-template-img-wrapper {
    margin-bottom: 30px; }
    .mw-process-templates .mw-process-template-img-wrapper:hover {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
      .mw-process-templates .mw-process-template-img-wrapper:hover .background-image-holder {
        background-position: center 100%; }
  .mw-process-templates .card-text {
    font-weight: 300;
    font-size: 13px;
    color: #434343;
    margin-bottom: 0; }
  .mw-process-templates .mw-process-templates-title {
    font-size: 16px;
    color: #2b2b2b;
    font-weight: 600;
    margin-bottom: 20px; }
  .mw-process-templates .mw-templates-header {
    font-size: 48px;
    color: #2b2b2b;
    font-weight: 200 !important;
    margin-bottom: 40px; }
  .mw-process-templates .mw-templates-text {
    margin-bottom: 40px;
    color: #2b2b2b;
    font-weight: 300 !important;
    font-size: 16px; }
  .mw-process-templates .card .card-body {
    border-top: 1px solid #9d9d9d;
    padding: 20px; }
  .mw-process-templates .start-with-this-template {
    background-color: #ffffff !important;
    color: #2b2b2b !important;
    border-color: #2b2b2b !important;
    border-radius: 25px;
    font-weight: 300;
    height: 40px !important;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px; }
    .mw-process-templates .start-with-this-template:hover {
      background-color: #000000 !important;
      border-color: #000000 !important;
      color: #ffffff !important; }
  .mw-process-templates .mw-process-template-magnify {
    width: 80px;
    padding: 0 !important;
    border-color: #2b2b2b9e !important; }

/*# sourceMappingURL=styles.css.map */
